# Postgres
POSTGRES_USERNAME=your_postges_username
POSTGRES_PASSWORD=your_postges_password
POSTGRES_DB=smart_clinic

# MongoDB
MONGO_USERNAME=your_mongo_username
MONGO_PASSWORD=your_mongo_password
MONGO_DB=smart_clinic

# Redis
REDIS_PASSWORD=your_redis_password

# Email
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
